@using The_Medallion_Theater.Models;

@model PerformanceVm
@{
    ViewData["Title"] = "MT : Add Performance";
    Layout = "_Layout";

    List<Production> prds = new List<Production>
    {
        new Production { ProductionId = "1", ProductionName = "Product 1", ProductionType = "Type 1" },
        new Production { ProductionId = "2", ProductionName = "Product 2", ProductionType = "Type 2" },
        new Production { ProductionId = "3", ProductionName = "Product 3", ProductionType = "Type 3" }
    };

}

<form action="AddPerformance" method="Post">

    <h1>Add Performance Form</h1>

    <div class="ap-div-group">
        <label class="ap-label">Performance Name</label>
        <input type="text" class="form-control" asp-for="PerformanceName">
    </div>

    <div class="ap-div-group">  
        <label class="ap-label">Production type</label>
        <select class="form-control" asp-for="ProductionName">
            @foreach (var pr in Model.prods)
            {
                <option value="@pr.ProductionName"> @pr.ProductionName </option>
            }
        </select>
    </div>
    
    <div class="ap-div-group">
        <label class="ap-label">Performance Date</label>
        <input type="datetime-local" class="form-control" asp-for="PerformanceDate">
        <input type="hidden" asp-for="prods" value="@prds">
    </div>

    <div class="ap-div-group">
        <label class="ap-label">Production type</label>
        <select class="form-control" asp-for="PTime">
            <option value="afternoon"> Afternoon </option>
            <option value="manitee"> Manitee </option>
        </select>
    </div>
        
    <br />
    <br />

    <button class="bookBtn" type="submit"> > Add Performance </button>
    <div class="text-danger" asp-validation-summary="All"></div>
    


</form>
