@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: linear-gradient(rgba(29, 47, 49, 0.385), rgb(10, 73, 78));
    --second-bg-color: #272c35;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
   color: var(--text-color);
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

h3 {
    font-weight: 300;
}

 .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
 }


.seats {
    width: 100%;
    height: 100vh;
    BACKGROUND-COLOR: #051440;

    padding: 8px;
 }

.seatHeader {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding-top: 10px;
}

.seat {
    border-radius: 1%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    background: linear-gradient(to right, #242A5E, #02022b);
    
    padding-top: 10px;
    padding: 5px;
}


.seatInfo {
    width: 250px;
    display: flex;
    justify-content: space-around;

    position: relative;
    left: 900px;
}

.red {
    height: 15px;
    background-color: red;
    border-radius: 35%;
    width: 25px;
}

.green {
    height: 15px;
    background-color: green;
    border-radius: 35%;
    width: 25px;
}

.orchestra, .mezzanine, .balcony {
    width: 100%;

    margin-bottom: 5px;
    background-color: #242A5E;

    border-radius: 5%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;

    padding: 8px;

    display: flex;
    justify-content: space-between  ;
}

.orchestra, .balcony {
    width: 215px;
}

.s {
    height: 17px;
    width: 25px;
    cursor: pointer;

    color: black;

    margin-bottom: 11px;
    margin-right: 5px;
    text-align: center;

    font-size: 1rem;
    font-weight: 600;
}

.middle, .right, .left {
    display: flex;
    width: 320px;
}

.name, .location, .contact, .time {
    display: flex;
}

.leftSide {
    height: 100vh;
    width: 100%;
    margin-right: 5px;
    background-color: #242A5E;

 }

 form {
    border: 1px solid green;
    border-radius: 11px;
    width: 1080px;
    height: 530px;
    margin: 25px 210px;

    padding: 10px 100px;

    background-color: #fff;
    color: #02022b;
 }

input {
    height: 24px;
    width: 300px;
    border-radius: 5px;
    
    margin-bottom: 1.2rem;
    margin-right: 45px;
    padding: 0.5rem;
  
    font-size: 13px;
    border: 1px solid #02022b;
}

label {
    margin-right: 5px;
    font-size: 1.5rem;
    font-weight: 300;
}



form h1 {
    text-align: center;
    margin-bottom: 25px;
    margin-left: 115px;
    font-weight: 600;
    color: #242A5E;
}

.bookBtn {
    border-radius: 11px;
    padding: 1% 5%;
    font-size: 1.5rem;
    font-weight: 600;

    margin-left: 370px;
    margin-top: 15px;

    background-color: #242A5E;
    color: #fff;
}

/* #fname {
    margin-right: 60px;
}


.address {
    width: 305px;
}

.city, .date {
    margin-right: 40px;
    width: 190px;
}

.zip {
    width: 193px;
}

.performance {
    width: 310px;
}

.seatsNo {
    margin-bottom: 45px;
} */

.orchestra .col .letters, .balcony .col .letters, .mezzanine .col .letters {
    background-color: #242A5E;
    color: white;
    cursor: auto;
}

.or {
    position: absolute;
    top: 830px;
    right: 5px;
    font-weight: 600;
}

.mz {
    position: absolute;
    top: 985px;
    right: 15px;
    font-weight: 600;
}

.ba {
    position: absolute;
    top: 1205px;
    right: 35px;
    font-weight: 600;
}

.stage {
    position: relative;
    width: 885px;
    height: 35px;
    text-align: center;
    background-color: #242A5E;

    right: 315px;
    top: 40px;

    transform: skewX(-25deg);
}

/* .stage h1 {
} */

/* Update */

.box {
    display: flex;
    margin-right: 15px;
}

.box h2 {
    margin-right: 5px;
}   

.rightBox {
    margin-top: 13px;
}

.lBox {
    margin-left: 45px;
}

.orchestra .box .sBox {
    background-color: #FFE699;
}

.mezzanine .s {
    background-color: #FBE5D6;
}

.orchestra .s {
    background-color: #DEEBF7;
}

.balcony .s {
    background-color: #CCFFCC;
}

.orchestra .left {
    margin-left: 25px;
}

.orchestra .middle {
    margin-left: 100px;
}

.orchestra .right {
    margin-left: 275px;
}

.mezzanine .middle {
    margin-right: 225px;
}

.mezzanine .right {
    margin-right: 55px;
}

.mezzanine .left {
    margin-left: 135px;
}


.balcony .left {
    margin-left: 135px;
}

.balcony .middle {
    margin-right: 325px;
    margin-left: 70px;
}

.balcony .right {
    position: relative;
    right: 50px;
}


