html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:#242A5E;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f2f2f2;
}

.logo h1 {
    font-size: 24px;
    color: #242A5E;
    margin: 0;
    font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #242A5E;
  font-size:20px;
  padding:15px;
  border-radius:20px;
}

nav ul li a:hover {
  text-decoration: underline;
  color: white;
  font-size:20px;
  background-color:#242A5E;
}

.auth-buttons {
  display: flex;
}

.auth-buttons button {
  font-size:20px;
  margin-left: 10px;
  padding:10px; 
}

.login-button {
    border-radius: 11px;
    margin-left: 370px;
    margin-top: 15px;
    background-color: #f2f2f2;
    color: #242A5E;
    border: 1px solid #242A5E;
    
}
.register-button {
    border-radius: 11px;
    border :1px solid #242A5E;
    margin-left: 370px;
    margin-top: 15px;
    background-color: #f2f2f2;
    color: #f2f2f2;    
}

.logout-button {
    border-radius: 11px;
    padding: 15px;
    border: 1px solid #242A5E;
    background-color: #f2f2f2;
    font-size: 20px;
    font-weight: 600;
    color: #242A5E;
}

.logout-button:hover {
    background-color: #f2f2f2;
    text-decoration: underline;
    color: #242A5E;
}


.login-button:hover {
    text-decoration: underline;
    color: #242a5e;
}

.register-button:hover {
    color: #f2f2f2; 
    text-decoration: underline;
       
}

select.form-control {
    width: 100%;
    height: auto;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.ap-label {
    font-size:15px;
    
}

.ap-div-group{
    margin:15px;
}

input.form-control {
    width: 80%;
    height: auto;
    padding: 0.375rem 0.75rem;
    font-size: 18px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
